/* BYUI Blue: #003F87
Light Blue: #78AADB
White: #F5F5F5
Dark Gray: #2D2D2D */

body {
    background-color: #78AADB;
}

header {
    background-color: #002E5D;
    height: 70px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

header h1 {
    color: white;
    text-align: center;
}


h2 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-block: 50px;
}


#searchbar {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center horizontally */
    width: 100%; /* Ensure it takes full grid column width */
    max-width: 600px; /* Limit max width for better aesthetics on large screens */
}

#search {
    width: 80%; /* Wider */
    height: 40px; /* Taller */
    border-radius: 10px; /* Rounded corners */
    border: 1px solid #003F87; /* BYUI Blue border */
    background-color: #F5F5F5; /* White background */
    color: #2D2D2D; /* Dark Gray text */
    padding: 0 15px; /* Add some padding */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin-top: 10px; /* Space between label and input */
    display: block; /* Ensures it takes up full width available in its parent */
}


#eventList {
    background-color: #78AADB;
}

.flexList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
}

#event h4 {
    align-self: end;
    justify-self: start;
    margin-bottom: 5px;
    color: #F5F5F5;
}

#event h5 {
    align-self: start;
    justify-self: start;
    margin-top: 5px;
    color: #F5F5F5;
}

#event button {
    align-self: center;
    justify-self: center;
    height: 25px;
    width: 60px;
    border: black solid 1px;
    border-radius: 20px;
    background-color: #78AADB;
}
