/* BYUI Blue: #003F87
Light Blue: #78AADB
White: #F5F5F5
Dark Gray: #2D2D2D */

body {
    background-color: #78AADB;
}

header h1 {
    margin: 0;
    padding: 0;
    height: 70px;
    color: white;
    background-color: #002E5D;
    text-align: center;
}

h2 {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 10px 100px 200px 1fr;
    justify-items: center;
    align-items: center;
}

#searchbar {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#followedEvents {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#eventList {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    background-color: #78AADB;
}

.flexList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#event h4 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: end;
    justify-self: start;
    margin-bottom: 5px;
    color: #F5F5F5;
}

#event h5 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: start;
    justify-self: start;
    margin-top: 5px;
    color: #F5F5F5;
}

#event button {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    align-self: center;
    justify-self: center;
    height: 25px;
    width: 60px;
    border: black solid 1px;
    border-radius: 20px;
    background-color: #78AADB;
}
