/* BYUI Blue: #003F87
Light Blue: #78AADB
White: #F5F5F5
Dark Gray: #2D2D2D */

.modal {
    width: 70%;
    background-color: #78AADB;
    border-radius: 20px;
    border: #2D2D2D solid 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-items: center;
    align-items: center;
    padding: 40px;
}

.image {
    width: 250px;
    height: 250px;
    background-color: black;
    border-radius: 10px;
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.title, .time, .location, .about {
    color: black;
}

.location {
    margin-bottom: 30px;
}
